@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');




.header{
    font-size: 8vw;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    text-decoration: none;
    color: #333333;
    border:  2px solid #333333;
    border-top: 0px;
    border-left: 0;
    border-right: 0;

}
.heading_title{
    color: #fcc822;
}

/* footer code   start*/
 .footer{
     text-align: center;
     color: #333333;
 }
 .footer span a{
     color: #fcc822;
     text-decoration: none;

 }
